<mat-toolbar color="primary">
  <object type="image/svg+xml" data="./assets/byu_logo.svg"></object>
  <span>Lab Attendance</span> <span class="header-spacer"></span>
  <span>{{ labName }}</span>
</mat-toolbar>

<div class="login" (click)="ssCounter = 0">
  <div class="input">
    <span *ngIf="id?.length > 0" class="id">{{ id | byuID }}</span>
    <span *ngIf="id?.length == 0" class="id">Enter BYU ID</span>

    <!-- logo -->
    <object
      type="image/svg+xml"
      data="./assets/lab_illustration.svg"
      class="logo"
    >
    </object>
  </div>

  <div class="num-pad">
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('1')"
      (press)="addToID('1')"
    >
      1
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('2')"
      (press)="addToID('2')"
    >
      2
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('3')"
      (press)="addToID('3')"
    >
      3
    </button>

    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('4')"
      (press)="addToID('4')"
    >
      4
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('5')"
      (press)="addToID('5')"
    >
      5
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('6')"
      (press)="addToID('6')"
    >
      6
    </button>

    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('7')"
      (press)="addToID('7')"
    >
      7
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('8')"
      (press)="addToID('8')"
    >
      8
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('9')"
      (press)="addToID('9')"
    >
      9
    </button>

    <button
      mat-raised-button
      color="accent"
      [disabled]="id?.length === 0"
      (click)="delFromID()"
      (press)="delFromID()"
    >
      Del
    </button>
    <button
      mat-raised-button
      color="accent"
      class="num"
      (click)="addToID('0')"
      (press)="addToID('0')"
    >
      0
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="id?.length !== 9"
      (click)="login(id)"
      (press)="login(id)"
    >
      Enter
    </button>
  </div>
</div>
